{deps, [
	{xmlrpc, ".*", {git, "https://github.com/rds13/xmlrpc.git", {branch, "master"}}},
	{emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", {branch, "master"}}},
	{worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git", {branch, "master"}}},
	{shotgun, ".*", {git, "https://github.com/inaka/shotgun.git", {branch, "master"}}},
	{iconv, ".*", {git, "https://github.com/processone/iconv.git", {branch, "master"}}}
   ]
}.

